{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "tsxBracketSameLine": true,
  "maxLineLength": 700,
  "parser": "typescript"
}